n8n.<domain-name> {
    reverse_proxy n8n:5678 {
      flush_interval -1
    }
}

appsmith.<domain-name> {
    reverse_proxy appsmith {
      flush_interval -1
    }
}

windmill.<domain-name> {
    reverse_proxy /ws/* windmill_lsp:3001 {
      flush_interval -1
    }
    # reverse_proxy /ws_mp/* http://multiplayer:3002
    # reverse_proxy /api/srch/* http://windmill_indexer:8001
    reverse_proxy /* windmill_server:8000 {
      flush_interval -1
    }
}
